@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');

:root {
  --background-color: #ffffff;
  --primary-color: #162623;
  --second-color: #59787A;
  --tercer--color: #295254;
  --font: 'Fire Sans', sans-serif;
  --font-title: 'ABeeZee', sans-serif;
}

* {
  font-family: var(--font);
  font-weight: 400;
  
}
html {
  scroll-behavior:smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--background-color);
}


body {
  background-color: var(--background-color);
  font-family: var(--font);
}

header {
  background-color: var(--background-color);
  text-align: center;
}

header h1 {
  color: var(--primary-color);
  font-size: 50px;
  font-family: var(--font-title);
  font-weight: 800;
}

header span {
  color: var(--tercer--color);
  font-size: 20px;
  font-family: var(--font-title);
  font-weight: 800;
  padding-bottom: 10px;

}

li {
  list-style: none;
}

nav {
  background-color: var(--background-color);
  padding: 10px;
  margin: 0 auto;
  /* Mantener el nav mientras se desplaza */
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: var(--primary-color) 2px solid;


}



nav a {
  background-color: var(--background-color);
  text-decoration: none;
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 800;
  font-family: var(--font-title);

}

nav ul {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

nav li {
  background-color: var(--background-color);
  margin: 10px 60px;
}

nav ul li :hover {
  color: var(--tercer--color);

}
/* nav responsive */
@media screen and (max-width: 1300px) {
  nav{
    position: relative;
    text-align: center;
  }
  nav ul {

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 10px;

  }

  nav ul li {
    margin: 10px 0;
  }
  
}
@media screen and (max-width: 600px) {
  nav{
    position: relative;
    text-align: center ;
  }
  nav ul {

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 10px;

  }

  nav ul li {
    margin: 10px 0;

  }
  
}
section {

  /* margen (espacio externo) superior, derecho, abajo e izquierda */
  margin: 4px 2px 8px 2px;

  /* relleno (espacio interno) de 
   1.5% en la parte superior e inferior y 
   0.8% a los lados derecho e izquierdo. */

  padding: 1.5% 0.8%;

  /* reemplazan el 0.8% inicial en el relleno izquierdo y derecho, 
   dándoles un valor específico de 1.2% para esos lados. */

  padding-left: 1.2%;
  padding-right: 1.2%;


  /* borde redondeado con un radio de 5 píxeles */

  /* en navegadores basados en WebKit, 
   como versiones antiguas de Safari y Chrome. */
  -webkit-border-radius: 5px;

  /* en navegadores antiguos de Mozilla, 
   como Firefox.  */
  -moz-border-radius: 5px;

  /* en navegadores modernos. */
  border-radius: 5px;

}

#photo {
  width: 200px;
  height: auto;
  /* borde redondeado con un radio de 5 píxeles */
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  filter: drop-shadow(0 0 10px var(--primary-color));

}



.subtitle {
  color: var(--tercer--color);
  text-transform: uppercase;
}
#resumen {
  display: grid;
  justify-content: space-around;
  align-items: stretch;
  grid-template-areas: "A A"
    "B C"
    ;
  
}


#resumen #presentacion{
  grid-area: A;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto; 
  margin-bottom: 50px;
  
  

}

#resumen #presentacion div{

  margin-left: 50px;
}


#resumen #sobreMi{
  grid-area: B;
  display: grid;
  margin: 0 auto;
  text-align: justify;
  
  border-radius: 15px;
  width: 80%;

  
}

#resumen h2{
  text-align: center;
}

#resumen #marca{
  grid-area: C;
  display: grid;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;

  
  text-align: justify;
  border-radius: 15px;
  width: 80%;

}
#marcapersonal{
  width: 20vh;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 1300px) {
 #resumen{
  display: grid;
  justify-content: space-around;
  align-items: stretch;
  grid-template-areas: "A"
    "B"
    "C"
    ;
 } 
}

#experiencia{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  position: relative;
}

#experiencia .subtitle {
  flex: 1 1 100%;
  text-align: center;
  margin-bottom: 50px;
}

#experiencia .showExperience{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;  
  
  width: 100%;
  text-align: left;
  border-radius: 15px;
  padding: 0px 50px 50px 50px;
  height: auto;
  
}
.detallesExperiencia{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 25px 50px 25px 50px;

}

#experiencia img {
  width: 20vh;
  height: auto;
  margin-bottom: 50px;
}

@media  (max-width: 1300px) {
  #experiencia .showExperience{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;  
    
    width: 100%;
    text-align: left;
    border-radius: 15px;
    padding: 0px 50px 50px 50px;
    height: auto;
    
  }
  
}

@media  (max-width: 600px) {
  #experiencia .showExperience{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;  
    
    width: 100%;
    text-align: left;
    border-radius: 15px;
    padding: 0px 50px 50px 50px;
    height: auto;
    
  }
  
}

#educacion{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  position: relative;
}

#educacion .subtitle {
  flex: 1 1 100%;
  text-align: center;
  margin-bottom: 50px;
}

#educacion ol {
  list-style-type: none;
  counter-reset: item;
  padding: 0;
  margin: 0;
}

#educacion ol li {
  counter-increment: item;
  margin-bottom: 10px;
  padding: 30px 50px;
  background-color: #F0F4F7;
  border-radius: 15px;
  position: relative;
  width: 90vh;

}

#educacion ol li::before {
  content: counter(item);
  background-color: var(--primary-color);
  color: var(--background-color);
  font-weight: 800;
  font-size: 20px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  position: absolute;
  left: -50px;
  top: 0;
}

#educacion ol li h3{
  margin-top: -5px;
  font-weight: 550;

}

#educacion ol li div img {
  width: 90px;  
}


@media screen and (max-width: 1300px) {
#educacion ol {
width: 55vh;


}
#educacion ol li {
  width: 55vh;
  padding: 30px 20px;


}
}

@media screen and (max-width: 600px) {
  #educacion ol {
  width: 35vh;
  
  
  }
  #educacion ol li {
    width: 35vh;
    padding: 20px 10px;

    font-size: 9pt;
  
  }

  #educacion ol li div img {
    width: 50px;  
  }
}



h3{
  font-weight: 550;

}


#habilidades{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  position: relative;
  
}
#habilidades .subtitle {
  flex: 1 1 100%;
  text-align: center;
  margin-bottom: 50px;
}



/* Estilos para la tabla */
/* Hacer tabla responsva */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 50px 0;

  
}

table tbody tr :hover {
  background-color: #F0F4F7;
  color: var(--primary-color);
  cursor:crosshair;
}
table tbody tr td {
  padding: 50px;
  text-align: center;
  border-radius: 15px;
  
  
}
/* Responsive: en pantallas pequeñas */
@media (max-width: 600px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }
  
  th, td {
    width: 100%;
    box-sizing: border-box;
  }
}
@media (max-width: 1300px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  tr {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columnas en cada fila */
    margin-bottom: 10px;
  }

  td {
    padding: 10px;
    text-align: left;
    position: relative;
  }

  /* Añadir etiquetas en móviles */
  td::before {
    content: attr(data-label);
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
}

#proyectos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  position: relative;
  text-align: center;
}

#proyectos #imagenes{

  display: flex;
  width: 800px;
  height: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
}
#proyectos #imagenes img{
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 1;
  transition: 1s ease;
}
#proyectos #imagenes img:hover{
  cursor: pointer;
  width: 600px;
  opacity: 1;
}

@media screen and (max-width: 1300px) {
  #proyectos #imagenes{
    display: flex;
    width: 600px;
    height: 450px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
  }
  #proyectos #imagenes img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 1;
    transition: 1s ease;
  }
  #proyectos #imagenes img:hover{
    cursor: pointer;
    width: 400px;
    opacity: 1;
  }
  
}
@media screen and (max-width: 600px) {
  #proyectos #imagenes{
    display: flex;
    width: 400px;
    height: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 10px 10px 10px 10px;

  
  }
    
  
}

section form {

  /* Modelo de diseño en cuadrícula */
  display: grid;


  row-gap: 0.8rem;

}

section form label {
  color: var(--background-color);
  /* Alineación de texto a la derecha */
  text-align: right;

}
/* Colocar 2 filas y 2 columnas con grid template area*/
footer {
  background-color: var(--tercer--color);
  display: grid;
  grid-template-areas: "C";
  padding: 20px;
}



footer h3{
  font-size: 20px;
  
  color: var(--background-color);


}


footer #social{
  grid-area: C;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  list-style: none;
  


}
footer #social ul{
  display: flex;
  justify-content: center;
  align-items: right;
}



footer #social ul li{
  margin: 0 50px;
  padding: 0 50px;
  text-align: center;
  display: inline;
  list-style: none;
  display: inline;
  text-align: center;

}
footer #social ul li a{
  text-decoration: none;
  color: var(--background-color);
  font-size: 20px;
  font-weight: 800;
  font-family: var(--font-title);
}
footer #social ul li a h3{
  margin-bottom: 70px;
}
footer #social ul li a :hover{
  color: var(--second-color);
  cursor: pointer;
}

footer #social ul li img{
  width: 70px;
}

footer #video{
  grid-area: D;
  justify-content: center;
  align-items: center;
}

footer #descargar {
  background-color: var(--background-color);
  color: var(--tercer--color);
  font-weight: 800;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--background-color);
  text-decoration: none;
}

 #descargar a{
  text-decoration: none;
  color: var(--tercer--color);
  font-weight: 800;
  font-size: 20px;
  font-family: var(--font-title);
}

footer #descargar:hover {
  background-color: var(--second-color);
  color: var(--background-color);
  cursor: pointer;
}
footer #descargar a:hover {

  color: var(--background-color);
  cursor: pointer;

  
}

@media screen and (max-width: 1300px) {
  footer{
    display: grid;
    grid-template-areas: "A" 
    "B"
    "C"
    "D";
    padding: 10px;
    width: 100%;

  }
  footer #formulario{
    grid-area: A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 40px;
    padding: 0;
    text-align: left;
    
    
  }
  footer #social{
    grid-area: B;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    
  }
  footer #location{
    grid-area: C;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;


  }
  footer #mapa{
    width: 55vh;
  }

  footer #video{
    grid-area: D;
    margin: 0 auto;
    text-align: center;
    
  }
  footer #intro{
    width: 55vh;
    
  }
  
}

@media screen and (max-width: 600px) {
  footer{
    display: grid;
    grid-template-areas: "A" 
    "B"
    "C"
    "D";    
    width: 100%;

  }
  footer #formulario{
    grid-area: A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 40px;
    padding: 0;
    text-align: left;
    width: 40vh;
    
  }
  footer #social{
    grid-area: B;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 20vh;
    
  }
  footer #location{
    grid-area: C;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
  }
  footer #mapa{
    width: 45vh;
  }

  footer #video{
    grid-area: D;
    margin: 0 auto;
    text-align: center;
    
  }

  footer #intro{
    width: 45vh;
    
  }

}